body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #f0f9ff;
  background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
  background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
  background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 );
}

.main-title {
  font-family: 'Enriqueta', arial, serif;
  line-height: 1.25;
  margin: 0 0 10px;
  font-size: 60px;
  font-weight: bold;
  color: blue;
  text-align: center;
}

.sub-title {
  font-family: 'Enriqueta', arial, serif;
  line-height: 1.25;
  margin: 0 0 10px;
  font-size: 25px;
  color: rgb(105,105,105);
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}
